CHANNEL_PLEX	6
//parameters for peak detection
MAX_CHARGE	4	//range: [2, MAX_CHARGE]
SN_CUTOFF	4
PEAK_RINT_CUTOFF	0	//minimum peak relative intensity
PEAK_INT_CUTOFF	0	//minimum peak absolute intensity
PEAK_TOLERANCE_PPM	10	//isotope peak mass tolerance: 10 ppm
PATTERN_TOLERANCE_PPM	5	//mdSugar tag pattern peak mass tolerance: 10 ppm
//parameters between neutron-coded pairs
RT_TOLERANCE	5	//max rt range when merging redundant ions, default +/-5min
ION_TOLERANCE_PPM	5	//precursor ion tolerance when merging redundant ions, default +/-5 ppm
//raw files (one file per line)
d:/Tasks/Cooperations/BTG_1_1_1_6_plex_1000k.raw